body {
  background-color: rgb(229, 213, 230);
}
.App {
  background-color: rgb(162, 187, 166);
  border-radius: 20px;
  border: solid 1px rgb(89, 128, 101);
  width: 350px;
  min-height: 75px;
  margin: 10px auto;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  padding: 25px;
 
}
.container {
  width: 300px;
  height: 450px; 
}
.picture {
 border-radius: 50%;
  border: solid 10px rgb(172, 133, 176);
}
p {
  font-size: 20px;
  color: rgb(67, 82, 40);
}
.first {
  font-size: 30px;
}
